<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="row">
      <h1 class="col-sm-8"><%= link_to 'Michael J. Bolin', '/'%></h1>
      <nav class="col-sm-4">
        <h4><%= link_to 'About', '/about' %></h4>
        <h4><%= link_to 'Contact', '/contact' %></h4>
        <h4><%= link_to 'History', '/history' %></h4>
      </nav>
    </div>
  </header>
  <%= yield %>
  <footer class="container">
    <div class="row">
      <p class="col-sm-4">&copy; 2017 Michael J. Bolin</p>
      <ul class="col-sm-8">
        <li class="col-sm-1">
          <a href="#"><img src="https://image.flaticon.com/icons/svg/8/8800.svg" /></a>
        </li>
        <li class="col-sm-1">
          <a href="#"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" /></a>
        </li>
        <li class="col-sm-1">
          <a href="#"><img src="https://image.flaticon.com/icons/svg/69/69406.svg" /></a>
        </li>
      </ul>
    </div>
  </footer>
</body>
</html>
